
rupo/data/stress_models/stress_ru_word30_LSTM256_dropout0.4_acc99_wer3.h5 filter=lfs diff=lfs merge=lfs -text
rupo/data/g2p_models/g2p_ru_maxlen40_BLSTM256_BLSTM256_dropout0.2_acc992_wer140.h5 filter=lfs diff=lfs merge=lfs -text
