dicttoxml >= 1.7.4
pygtrie >= 2.2
numpy >= 1.12.1
scipy >= 0.19.0
scikit-learn >= 0.18.1
jsonpickle >= 0.9.4
pymorphy2 >= 0.8
h5py >= 2.7.0
russian-tagsets == 0.6
tqdm >= 4.14.0
jsonpickle >= 0.9.4
rnnmorph >= 0.2.3
sentence_splitter >= 1.2
allennlp == 0.9.0
overrides == 3.0.0
git+https://github.com/IlyaGusev/rulm.git@4e78a49
git+https://github.com/IlyaGusev/russ.git@288fe6a
